<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968184624725-mgminkh1l41hffahncms12gm350ba3cl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968184624725-mgminkh1l41hffahncms12gm350ba3cl</string>
	<key>API_KEY</key>
	<string>AIzaSyDpUCU3Ox-WxYeTr6nXCK_jpdugKGqyXfg</string>
	<key>GCM_SENDER_ID</key>
	<string>968184624725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thomasoestlyng.trafikkskiltQ</string>
	<key>PROJECT_ID</key>
	<string>trafikkskilt-q</string>
	<key>STORAGE_BUCKET</key>
	<string>trafikkskilt-q.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968184624725:ios:9aa6eeaec53de3cb</string>
	<key>DATABASE_URL</key>
	<string>https://trafikkskilt-q.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-6754023084784599~5169732754</string>
</dict>
</plist>
